<!DOCTYPE html>
<html>
    <head>
		<title>Home</title>
		
		<meta name="description" content="">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

		<link rel="stylesheet" href="css/bootstrap_theme.min.css"/>
		<link rel="stylesheet" href="css/font-awesome.min.css"/>
		<link rel="stylesheet" href="css/fixed_menu.css"/>
		<link rel="stylesheet" href="css/home.css"/>
		<link rel="stylesheet" href="css/w3.css"/>

		<script src="js/packages/jquery.min.js"></script>
		<script src="js/packages/bootstrap.min.js"></script>

		<div class="title-bar">
			<div id="title-bar-btns">
				<button id="close-btn">X</button>
				<button id="max-btn">▢</button>
				<button id="min-btn">−</button>
			</div>
		</div>
		
		<div style="height: 85px;"></div>
  	</head>
	<body data-spy="scroll" data-target="#quick-nav">

		<!-- <div w3-include-html="http://213.32.18.205:1337/speedrun_app/views/z_home.html"></div> -->
		<div w3-include-html="z_home.html"></div>

		<div id="particles-js"></div>

		<div class="navbar">
			<a class="navtext" href="home.html">Home</a>
			<a class="navtext" href="leaderboard.html">Leaderboards</a>
			<a class="navtext" href="players.html">Player PB</a>
			<a class="navtext" href="servers.html">Servers</a>
		</div>
		
		<script src="js/packages/particles.js"></script>
        <script src="js/youtube.js"></script>
		<script src="js/include.js"></script>
		<script src="js/home.js"></script>
		<script src="js/topbuttons.js"></script>
		
	</body>
	<footer>
		<div style="height: 40px;"></div>
		<div class="row">
			<div class="col-md-12 shadow-p text-center">
				<button class="btn btn-success btn-circle btn-circle-lg m-1"><i class="fa fa-check"></i></button>
				<button class="btn btn-primary btn-circle btn-circle-lg m-1"><i class="fa fa-cog"></i></button>
				<button class="btn btn-info btn-circle btn-circle-lg m-1"><i class="fa fa-paper-plane"></i></button>
			</div>
		</div>
		<div style="height: 40px;"></div>
	</footer>
</html>
