<!DOCTYPE html>
<html>
    <head>
		<title>Home</title>
		
		<meta name="description" content="">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

		<link rel="stylesheet" href="packages/css/bootstrap_theme.min.css"/>
		<link rel="stylesheet" href="packages/css/all.css"/>
		<link rel="stylesheet" href="packages/css/w3.css" />
		<link rel="stylesheet" href="css/app.css"/>
		<link rel="stylesheet" href="css/home.css"/>

		<script src="packages/js/jquery.min.js"></script>
		<script src="packages/js/bootstrap.min.js"></script>

		<div class="title-bar">
			<div id="title-bar-btns">
				<button id="close-btn">X</button>
				<button id="max-btn">▢</button>
				<button id="min-btn">−</button>
			</div>
		</div>
		
		<div style="height: 85px;"></div>
  	</head>
	<body data-spy="scroll" data-target="#quick-nav">

		<div w3-include-html="http://213.32.18.205:1337/speedrun_app/views/z_home.html"></div>
		<!-- <div w3-include-html="z_home.html"></div> -->

		<div id="particles-js"></div>

		<div class="navbar">
			<a class="navtext" href="home.html">Home</a>
			<a class="navtext" href="leaderboard.html">Leaderboards</a>
			<a class="navtext" href="players.html">Player PB</a>
			<a class="navtext" href="servers.html">Servers</a>
		</div>
		
		<script src="packages/js/particles.js"></script>
        <script src="js/youtube.js"></script>
		<script src="js/include.js"></script>
		<script src="js/home.js"></script>
		<script src="js/topbuttons.js"></script>
		<script src="js/open.js"></script>
		
	</body>
	<footer>
		<div style="height: 40px;"></div>
		<div class="row">
			<div class="col-md-12 shadow-p text-center">
				<button class="btn btn-outline-danger btn-circle btn-circle-lg m-1" opn="https://www.youtube.com/c/iswenzz">
					<i class="fab fa-youtube"></i>
				</button>
				<button class="btn btn-outline-primary btn-circle btn-circle-lg m-1" opn="https://discord.gg/76aHfGF">
					<i class="fab fa-discord"></i>
				</button>
				<button class="btn btn-outline-secondary btn-circle btn-circle-lg m-1" opn="https://github.com/Iswenzz/SR-App">
					<i class="fab fa-github"></i>
				</button>
			</div>
		</div>
		<div style="height: 40px;"></div>
	</footer>
</html>
