<!DOCTYPE html>
<html>

	<head>
		<title>Leaderboards</title>

		<meta name="description" content="">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

		<link rel="stylesheet" href="packages/css/bootstrap_theme.min.css" />
		<link rel="stylesheet" href="packages/css/all.css" />
		<link rel="stylesheet" href="css/leaderboard.css" />
		<link rel="stylesheet" href="css/app.css" />

		<script src="packages/js/jquery.min.js"></script>
		<script src="packages/js/bootstrap.min.js"></script>

		<div class="title-bar">
			<div id="title-bar-btns">
				<button id="close-btn">X</button>
				<button id="max-btn">▢</button>
				<button id="min-btn">−</button>
			</div>
		</div>

		<div style="height:50px;"></div>
	</head>

	<body data-spy="scroll" data-target="#quick-nav">

		<div id="particles-js"></div>

		<div class="searchBar">
			<form id="searchform">
				<input type="text" id="searchText" placeholder="Search">
			</form>
		</div>
		<div class="searchresultsbox" id="searchbackground">
			<ul class="searchresults" id='serchList'></ul>
		</div>

		<div class="row">
			<!-- Image/Name/Button col -->
			<div class="col-4 text-center pl-5">
				<img src="" id="mapImage" class="img-fluid">
				<h4 class="pt-2" id="mapName" style="font-family: BankGothic; font-size:1.6vw;"></h4>
				<div style="height: 100px"></div>
				<div id="buttonContainer">
					<div class="container-fluid" id="srwaycontainer0"></div>
					<div class="container-fluid" id="srwaycontainer1"></div>
					<div class="container-fluid" id="srwaycontainer2"></div>
					<div class="container-fluid" id="srwaycontainer3"></div>
					<div class="container-fluid" id="srwaycontainer4"></div>
					<div class="container-fluid" id="srwaycontainer5"></div>
				</div>
			</div>
			<!-- Table col -->
			<div class="col-8 text-center">
				<table class="playerTimesTable" speed="190" way="ns0"></table>
			</div>
		</div>

		<div class="navbar">
			<a class="navtext" href="home.html">Home</a>
			<a class="navtext" href="leaderboard.html">Leaderboards</a>
			<a class="navtext" href="players.html">Player PB</a>
			<a class="navtext" href="servers.html">Servers</a>
		</div>

		<script src="packages/js/particles.js"></script>
		<script src="js/slideshow.js"></script>
		<script src="js/maptimes.js"></script>
		<script src="js/topbuttons.js"></script>

	</body>
</html>