<!DOCTYPE html>
<html>
    <head>
        <title>Players PB</title>
        
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>

        <link rel="stylesheet" href="css/leaderboard.css" />
        <link rel="stylesheet" href="css/app.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <nav>
        <div class="navbar">
            <a class="navtext" href="home.html">Home</a>
            <a class="navtext" href="leaderboard.html">Leaderboards</a>
            <a class="navtext" href="players.html">Player PB</a>
            <a class="navtext" href="servers.html">Servers</a>
        </div>
    </nav>
    <body data-spy="scroll" data-target="#quick-nav">
        <div style="height: 50px"></div>
        <div id="particles-js"></div>

        <div class="searchBar shadow-lg">
            <form id="searchform">
                <input type="text" id="searchText" placeholder="Search PlayerID">
            </form>
        </div>
        <div class="searchresultsbox shadow-lg" id="searchbackground">
            <ul class="searchresults" id='serchList'></ul>
        </div>

        <div style="height: 50px"></div>
        <table class="playerTimesTable_pb shadow-lg" id="playertimes"></table>

        <script src="../src/utility/particles.js"></script>
		<script src="../src/leaderboards/playertimes.js"></script>
    </body>
</html>