<!DOCTYPE html>
<html>
    <head>
        <title>Players PB</title>
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

        <link rel="stylesheet" href="packages/css/bootstrap_theme.min.css" />
        <link rel="stylesheet" href="packages/css/all.css" />
        <link rel="stylesheet" href="css/leaderboard.css" />
        <link rel="stylesheet" href="css/app.css" />

        <script src="packages/js/jquery.min.js"></script>
        <script src="packages/js/bootstrap.min.js"></script>

        <div class="title-bar">
            <div id="title-bar-btns">
                <button id="close-btn">X</button>
                <button id="max-btn">▢</button>
                <button id="min-btn">−</button>
            </div>
        </div>

        <div style="height: 50px"></div>
    </head>
    <body data-spy="scroll" data-target="#quick-nav">

        <div id="particles-js"></div>

        <div class="searchBar shadow-lg">
            <form id="searchform">
                <input type="text" id="searchText" placeholder="Search PlayerID">
            </form>
        </div>
        <div class="searchresultsbox shadow-lg" id="searchbackground">
            <ul class="searchresults" id='serchList'></ul>
        </div>

        <div style="height: 50px"></div>
        <table class="playerTimesTable_pb shadow-lg" id="playertimes"></table>

        <div class="navbar">
            <a class="navtext" href="home.html">Home</a>
            <a class="navtext" href="leaderboard.html">Leaderboards</a>
            <a class="navtext" href="players.html">Player PB</a>
            <a class="navtext" href="servers.html">Servers</a>
        </div>

        <script src="packages/js/particles.js"></script>
		<script src="js/topbuttons.js"></script>
		<script src="js/playertimes.js"></script>

    </body>
</html>