<!DOCTYPE html>
<html lang="en">

<head>
    <title>Players PB</title>
    <meta name="description" content="">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
            <script src="js/jquery.slim.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>

        <link rel="icon" href="https://accreu.com/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/bootstrap_theme.min.css"/>
        <link rel="stylesheet" href="css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/fixed_menu.css"/>
        <link rel="stylesheet" href="css/style.css">

        <div class="title-bar">
            <div id="title-bar-btns">
                <button id="close-btn">X</button>
                <button id="max-btn">▢</button>
                <button id="min-btn">−</button>
            </div>
        </div>

        <div class="some_space" style="height:50px;"></div>
</head>

<body style="background-color:#36393e">

    <div class="searchBar">
        <form id="searchform">
            <input type="text" id="searchText" placeholder="Search PlayerID">
        </form>
    </div>

    <div class="searchresultsbox" id="searchbackground">
        <ul class="searchresults" id='serchList'></ul>
    </div>

    <div class="some_space" style="height:50px;"></div>

    <table class="playerTimesTable_pb" id="playertimes"></table>

    <div class="navbar">
            <a class="navtext" href="home.html">Home</a>
            <a class="navtext" href="leaderboard.html">Leaderboards</a>
            <a class="navtext" href="players.html">Player PB</a>
            <a class="navtext" href="servers.html">Servers</a>
        </div>

    <script src="js/topbuttons.js"></script>
    <script src="js/playertimes.js"></script>

</body>
