<!DOCTYPE html>
<html lang="en">

<head>
    <title>Servers</title>
    <meta name="description" content="">
    <meta charset="utf-8">

    <link rel="icon" href="https://accreu.com/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap_theme.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/fixed_menu.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/w3.css"/>

    <div class="title-bar">
            <div id="title-bar-btns">
                <button id="close-btn">X</button>
                <button id="max-btn">▢</button>
                <button id="min-btn">−</button>
            </div>
        </div>
</head>

<body data-spy="scroll" data-target="#quick-nav" style="background-color:#36393e">
    <main>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 my-3">
                        <hr/>
                            <div class="some_space" style="padding-right: 100px;"></div>
                                 </div>
                                    <div class="servers" id="serverList"></div>
                            </div>
                        </div>
                    </div>
</main>

    <div class="navbar">
        <a class="navtext" href="home.html">Home</a>
        <a class="navtext" href="leaderboard.html">Leaderboards</a>
        <a class="navtext" href="players.html">Player PB</a>
        <a class="navtext" href="servers.html">Servers</a>
    </div>

    <script src="js/topbuttons.js"></script>
    <script src="js/cod4servers.js"></script>
    
</body>

</html>