<!DOCTYPE html>
<html>
    <head>
        <title>Servers</title>
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

        <link rel="stylesheet" href="packages/css/bootstrap_theme.min.css"/>
        <link rel="stylesheet" href="packages/css/all.css"/>
        <link rel="stylesheet" href="packages/css/w3.css" />
        <link rel="stylesheet" href="css/app.css"/>

        <script src="packages/js/jquery.min.js"></script>
        <script src="packages/js/bootstrap.min.js"></script>

        <div class="title-bar">
            <div id="title-bar-btns">
                <button id="close-btn">X</button>
                <button id="max-btn">▢</button>
                <button id="min-btn">−</button>
            </div>
        </div>
    </head>
    <body data-spy="scroll" data-target="#quick-nav">

        <div id="particles-js"></div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 my-3"><hr/>
                        <div class="some_space" style="padding-right: 100px;"></div>
                    </div>
                    <div class="servers" id="serverList"></div>
                </div>
            </div>
        </div>

        <div class="navbar">
            <a class="navtext" href="home.html">Home</a>
            <a class="navtext" href="leaderboard.html">Leaderboards</a>
            <a class="navtext" href="players.html">Player PB</a>
            <a class="navtext" href="servers.html">Servers</a>
        </div>

        <script src="packages/js/particles.js"></script>
        <script src="js/topbuttons.js"></script>
        <script src="js/cod4servers.js"></script>
    
    </body>
</html>