<div class="w3-col s4" id="sr_resize" style="background-color:#36393e;padding-left: 50px;">
    <div class="card" style="width: 24rem;">
            <h2 style="font-family: BankGothic;text-align: center;">Announcement</h2>
            <img class="card-img-top" src="http://213.32.18.205:1337/speedrun_app/views/images/home/annoucement.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="font-family: BankGothic;">SR-C#4</h5>
              <p class="card-text" style="white-space: pre-line;color: white;">Started on MP_SR_RACE and will end the 29 June.</p>
              <element onclick="goToLink('https://www.youtube.com/watch?v=fBRcnQ7NBi0')" class="btn btn-link">SR-C#3</element>
              <element onclick="goToLink('https://www.youtube.com/watch?v=BAsrY4dzQFY')" class="btn btn-link">SR-WR#1</element>
            </div>
          </div>

</div>