<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 my-3">

                <article class="visual_wrap">
                    <div class="inner">

                        <section class="main_visual_area">
                            <div class="video_wrap">
                                <div id="mainPlayer"></div>
                            </div>
                        </section>
                    
                        <div style="height: 40px;"></div>

                        <div class="jumbotron" style="background: transparent">
                            <h1 class="display-5" style="font-family: BankGothic;">KC#55 on MP_DR_NIGHTY</h1>
                            <p class="lead">Challenge ends Friday, August 16th at 6:00pm EST</p>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=iIBuo2vW5Ug" role="button">Learn more</a>
                        </div>

                        <div style="height: 40px;"></div>

                        <div class="shadow-lg p-3 mb-5 bg-dark rounded" style="height: 40px;"></div>

                        <div style="height: 40px;"></div>

                        <div class="container">
                            <div class="row">
                                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                                    <div class="MultiCarousel-inner">  
                                    </div>
                                    <button class="btn btn-primary leftLst">
                                        <</button> <button class="btn btn-primary rightLst">>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <br /><br /><br />
                                    <hr />
                                    <h3 style="font-family: BankGothic">37 New Maps !</h3>
                                    <p>Here is all new maps added to SR recently.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>