
    <main>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 my-3">
                        <hr/>
                            <article class="visual_wrap">
                                <div class="inner">
                                <section class="main_visual_area">
                                    <div class="video_wrap">
                                        <div id="mainPlayer"></div>
                                    </div>
                                </section>

                                <div w3-include-html="http://213.32.18.205:1337/speedrun_app/views/z_annoucement.html"></div> 
                                <div w3-include-html="http://213.32.18.205:1337/speedrun_app/views/z_patch.html"></div>
                        
                            <div class="some_space" style="padding-right: 100px;"></div>

                                <div class="w3-col s4" id="sr_resize" style="background-color:#36393e;padding-left: 50px;">
                                    <div class="card" style="width: 24rem;">
                                            <h2 style="font-family: BankGothic;text-align: center;">Discord</h2>
                                            <img class="card-img-top" src="images/discord.jpg" alt="Card image cap">
                                            <div class="some_space" style="height:15px;"></div>
                                            <iframe src="https://discordapp.com/widget?id=335075122467700740&theme=dark" width="358" height="500" allowtransparency="true" frameborder="0"></iframe>
                                          </div>

                                </div>
                                


                            </div>
                        </article>
                        </div>
                        </div>

            </div>
         </div>
    </main>