<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 my-3">

                <article class="visual_wrap">
                    <div class="inner">
                        
                        <section class="main_visual_area">
                            <div class="video_wrap">
                                <div id="mainPlayer"></div>
                            </div>
                        </section>
                    
                        <div class="some_space" style="padding-right: 100px;"></div>

                    </div>
                </article>

            </div>
        </div>
    </div>
</div>