        <div class="jumbotron">
                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">14/06 [Sr- Speedrun]</p>
                    <hr class="my-4" style="background-color:white">
                <p style="white-space: pre-line;font-size: 20px;">Added maps:
                        -mp_q3_slide_nood_adr
                        -mp_q3_slide_dfwc2017_6
                        -mp_q3_slide_dfwc2017_2
                        -mp_q3_slide_awumpus
                        -mp_peds_propel
                        -mp_nevada
                        -mp_sr_fl4pmy4ss
                        -mp_sr_a55
                        -mp_sr_1k_training
                        -mp_sr_pure_strafe_v2
                        -mp_sr_race
                        -mp_sr_parkour
                        -mp_deathrun_cherry
                        -mp_dr_circuit
                        -mp_dr_vistic_castle
                        -mp_deathrun_horror
                        -mp_dr_harrypotter
                        -mp_dr_mountain_escape
                        -mp_dr_bounce
                        -mp_deathrun_crystal</p></div>
        
                        <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/17/2018 [Sr- Speedrun] @Sir Bongo added 
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-mp_dr_rage</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/16/2018 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added some portal assets.
                -Fixed chars "missing FX" @Ovecka
                -New owner commands</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/14/2018 [Sr- Speedrun]  
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">Replay Bot: (like in CS surf)
                Bot replay the new WR of each way (210 / 190 & ns / s) (also some map won't have this bot cuz i wanna keep the WR run for SR-WR videos)
                -Bot shows FPS / WASD key / Velocity / etc</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/11/2018 [Sr- Speedrun] @Sir Bongo added maps:
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-mp_deathrun_uncharted
                -mp_deathrun_darkness
                -mp_deathrun_hop</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/09/2018 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-HUD color for #vip 
                -New #commands 
                !chicken
                !color
                and some owner commands :eyes: 
                -Optimized HUD elems.
                -Fixed anti-ele with ladders.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/07/2018 [Sr- Discord] Updated @Speedrun BOT.
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Database (link your in game playerID to discord #sr-registration)
                -Show TOP 20 leaderboard
                -Show all PB times.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/03/2018 [Sr- Speedrun]  
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Anti elevator.
                -Anti low fps/ping lag.
                -Velocity meter.
                -Fixed some bugs.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">05/02/2018 [Sr- Speedrun & Sr- Deathrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-mp_dr_train_rush release</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">04/23/2018 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-mp_dr_destiny
                -mp_dr_laboratory
                -mp_deathrun_framey_v3
                -mp_dr_un_named
                -mp_deathrun_backlot
                -mp_deathrun_semtex
                -mp_dr_blue
                -mp_dr_h2o
                added again.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">04/07/2018 [Sr- BattleRoyale]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Fixed some terrain and misc model
                -New vision</p></div></p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">04/05/2018 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-FPS Hud is now forced for the demos.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">04/02/2018 [Sr- Discord]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Updated @Strawpoll
                -Start Y/N vote
                -Start 1/5 number vote</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">03/31/2018 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Same Assets as Sr- Deathrun 
                80 levels & 10 prestige
                weapons & chars & menu design
                
                -Every player's run will be recorded by the server.
                WR Montage and KC every month.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">03/28/2018 [Sr- Deathrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Optimized all custom xmodel / mtls / images  (took me 40+ hours but worth it xD)
                -Nerf vip menu for activator
                -Fixed vip/shop huds
                -RTD
                -Predator weapon while in vip/shop/rtd menu.
                -New Assets:
                Bo2 870 MCS
                B23R
                Shadow
                Superman
                Wave Gun
                FC3 Vass
                Bat Girl
                Nano Suit
                MW3 Russian Chemical Warfare
                Q3 Rocket Launcher
                -Fixed Prestige Menu</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">03/27/2018 [Sr- BattleRoyale]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Zone trigger + random
                -Frag grenade and smoke (flash still in W.I.P)
                -Edited healthbar
                -Killcam and final killcam
                -Hitmarker
                -Fixed "nodraw" and now you wont see the player name sprite.
                -Map menu (bind it in multiplayer control)
                -Start with 2players, cuz people are lazy to wait</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">03/26/2018 [New Server 213.32.18.205:28964] [Sr- BattleRoyale]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Mp_br_blackout release
                -Lobby
                -PUBG Assets
                -Random weapons/assets spawn
                -Plane + Parachute
                -80 levels, 10 prestiges (800 levels)
                -Vip skin ( W.I.P )
                -Zone trigger ( W.I.P )
                if you find any bug or misstakes in mapping report/screenshot at #deleted-channel</p></div> 
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">03/08/2018 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added @VIP Menu
                -Shop Menu
                -Insertion logo
                -RTD logo (rtd w.i.p)
                -Fixed RPG Damage
                -FREERUN will start when there is only 1player connected</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">02/12/2018 [Sr- Discord]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">@Report and @speedrun-bot are back.. finaly xd</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/29/2018 [Sr- Discord]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added @Strawpoll #strawpoll-bot</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/28/2018 [Sr- Deathrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-#vip commands (if you are vip type !viphelp in game)</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/28/2018 [Sr- Discord]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added @Report #report-map #report-player</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/27/2018 [Sr- Deathrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Map Rotation lot more random.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/26/2018 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Edited RPG (same reload/fire time as CJ)</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/25/2018 [Sr- Deathrun] 
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-New Menu (theme button still in w.i.p)
                -Fixed Player Settings
                -New #commands</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/12/2018 [Sr- Deathrun] 
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Fixed Hud for activator
                -Fixed insertion
                January 25, 2018</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/12/2018
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Fixed Speedrun Icon</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/12/2018 [Sr- Deathrun]  
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added Order
                if there is any probleme check:
                #deleted-channel #report-map</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/10/2018 [Sr- Deathrun]  
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added Insertion.
                -No more hitmarker with m40a3_mp and remington700_mp.
                -Optimized .IWD (270 MB into 70MB)
                -Fixed recent bugs.
                -Added new text channel 
                #deleted-channel #deleted-channel #member-list 
                -Short read error is gone. (i think)
                -4 New #vip trails.</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">01/02/2018 [Sr- Deathrun and Sr- Speedrun]  
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Sr- Deathrun Server
                -Added more #vip things + vip icon.
                -Added speedrunner icon (get it by doing WRs) 
                -Added admin groups (Players/@Members/@Admins/@Admins+/@Master-Admins/@Owners)
                -Added lot of #commands 
                -Added 80 levels + 10 Prestiges (800levels)
                -Added 15 new weapons, 5 new chars , 40 knifes (5knife * 8skins) 
                -Added Ghostmod.
                -Added Bhop [Better version: Slower than strafing obv but still fun, No damage hud, No lagjump]</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">11/24/2017 [Sr- Discord]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added Text Channels for @Mapper and @Modder </p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">09/17/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-Added VIP items</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/27/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added maps:  
                .mp_deathrun_qube
                .mp_deathrun_cookie
                .mp_deathrun_sonic
                .mp_deathrun_sanctuary
                .mp_deathrun_jailhouse
                .mp_deathrun_fluxx
                .mp_dr_destiny
                .mp_dr_jurapark
                .mp_dr_spacetunnel
                .mp_dr_caelum
                .mp_dr_terror</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/23/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">Practise mode added, type !practise to enable/disable
                In practise mode:
                -Press melee twice to save position
                -Press use twice to load position
                -Times will not be saved</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/18/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added Maps:  
                .mp_deathrun_bricky
                .mp_deathrun_wipeout
                .mp_deathrun_wipeout_v2
                .mp_fnrp_iceland_v2
                .mp_dr_un_named
                .mp_deathrun_mirroredge</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/17/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added Secret:
                .mp_deathrun_underworld</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/15/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added Map:
                .mp_deathrun_waterworld</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/15/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">End trigger boundry is now highlighted with a fx
                Note it can take a minute or 2 for you to see it + you will not see it if you have fx disabled</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/14/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Edited some secrets:  
                The timer will end when you finish the secret instead of finishing the secret + the whole map.
                .mp_deathrun_haunted
                .mp_deathrun_skypillar
                .mp_dr_indipyramid
                .mp_dr_slay
                .mp_dr_slayv2
                .mp_dr_something</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/09/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">-RPG reloads faster
                -Pistols are unlocked at lvl 1
                -You can now use !fps / !fov / !speed instead of using $
                -Warning map will end at 3 minute mark
                -Use !fxenable to enable or disable fx
                -IP changed on main menu button to join server
                -Fullbright and fov will save when using chat commands
                -Killfeed added back
                    Text made smaller
                    Moved further into the corner
                    No longer displays deaths
                    Displays players times</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/09/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Fixed spawn of:
                .mp_deathrun_backlot
                .mp_deathrun_skypillar
                .mp_deathrun_gold
                .mp_dr_watercity</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/07/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added maps:
                .mp_dr_lazyriver
                .mp_dr_jungletemple
                .mp_dr_overgrown
                .mp_dr_overgrownv2
                .mp_dr_cliffside
                .mp_dr_gooby
                .mp_dr_imaginary
                .mp_dr_beat
                .mp_dr_urban</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/06/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">New xp system is in place:
                xp = xp for position * amount of times on leaderboard
                
                xp for each position
                    xp[0] = 200;
                    xp[1] = 180;
                    xp[2] = 160;
                    xp[3] = 150;
                    xp[4] = 140;
                    xp[5] = 130;
                    xp[6] = 110;
                    xp[7] = 100;
                    xp[8] = 90;
                    xp[9] = 85;
                    xp[10] = 67;
                    xp[11] = 55;
                    xp[12] = 45;
                    xp[13] = 40;
                    xp[14] = 34;
                    xp[15] = 30;
                    xp[16] = 25;
                    xp[17] = 22;
                    xp[18] = 18;
                    xp[19] = 15;
                    xp[20] = 12;
                    xp[21] = 10;
                    xp[22] = 9;
                    xp[23] = 8;
                    xp[24] = 7;
                    xp[25] = 6;
                    xp[26] = 5;
                    xp[27] = 3;
                    xp[28] = 2;
                    xp[29] = 1;</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/06/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">spec hud keys fixed</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/05/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added maps:
                .mp_dr_h2o
                .mp_deathrun_ruin
                .mp_deathrun_ruin2
                .mp_fnrp_monderland</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/04/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">mp_deathrun_mine fixed blocks at the end</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/04/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">Admin commands added</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/03/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">mp_deathrun_skypillar spawn fixed
                mp_deathrun_haunted spawn fixed</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/02/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added maps:
                .mp_dr_blue (fixed)
                .mp_dr_holyshiet
                .mp_dr_sm_world
                .mp_dr_deadzone</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/01/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">Maps Added:
                mp_dr_muddled
                mp_dr_glass2</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/01/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added maps:
                .mp_deathrun_scoria
                .mp_dr_free
                .mp_dr_blue
                .mp_deathrun_tribute
                .mp_deathrun_semtex</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">08/01/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- XP is fixed (i think), new xp system will be made and ranks reset soon</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">07/31/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- When timer runs out a random map will be picked instead of going to mp_deathrun_supermario
                - If map does not contain "mp_global_intermission" one will be created</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">07/31/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">Maps added:
                mp_deathrun_liferun
                mp_deathrun_oreo
                mp_dr_asu
                mp_dr_guest_list
                mp_dr_laboratory
                mp_dr_wtf
                mp_deathrun_mine</p></div>
                
                <div class="jumbotron">
                                <p class="lead" style="font-family: BankGothic;font-size: 25px;color:gainsboro;">07/27/2017 [Sr- Speedrun]
                </p>
                                    <hr class="my-4" style="background-color:white">
                                <p style="white-space: pre-line;font-size: 20px;">- Added maps:  
                .mp_deathrun_backlot
                .mp_deathrun_gold
                .mp_deathrun_haunted
                .mp_deathrun_skypillar
                .mp_deathrun_underworld
                .mp_dr_watercity
                .mp_dr_skypower</p></div>
