<div class="w3-col s4" id="sr_resize" style="background-color:#36393e;padding-left: 50px;">
    <div class="card" style="width: 24rem;">
            <h2 style="font-family: BankGothic;text-align: center;">Patch Notes</h2>
            <img class="card-img-top" src="http://213.32.18.205:1337/speedrun_app/views/images/home/patch_notes.jpg" alt="Card image cap">
            <div class="card-body">
              
                <h5 class="card-title" style="font-family: BankGothic;">14/06 [Sr- Speedrun]</h5>
              <p class="card-text" style="white-space: pre-line;color: white;">Added maps:
                    -mp_q3_slide_nood_adr
                    -mp_q3_slide_dfwc2017_6
                    -mp_q3_slide_dfwc2017_2
                    -mp_q3_slide_awumpus
                    -mp_peds_propel
                    -mp_nevada
                    -mp_sr_fl4pmy4ss
                    -mp_sr_a55
                    -mp_sr_1k_training
                    -mp_sr_pure_strafe_v2
                    -mp_sr_race
                    -mp_sr_parkour
                    -mp_deathrun_cherry
                    -mp_dr_circuit
                    -mp_dr_vistic_castle
                    -mp_deathrun_horror
                    -mp_dr_harrypotter
                    -mp_dr_mountain_escape
                    -mp_dr_bounce
                    -mp_deathrun_crystal</p>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Patch Notes</button>
            </div>
          </div>

</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Patch Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div w3-include-html="http://213.32.18.205:1337/speedrun_app/views/z_patch_notes.html"></div> 
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>