.searchBar {
    width: 98.5%;
    margin: 10px;
}

.searchBar input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 2px solid #6b6b6b;
    color: #fff;
    text-align: center;
}

.searchBar input[type=text]:focus {
    border: none;
    border-bottom: 2px solid #5d00d6;
    outline: none;
}

.searchresults {
    color: #fff;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style-type: none;
    text-align: center;
    font-family: BankGothic;
    padding: 0px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.searchresults li:nth-of-type(1n+11) {
    display: none;
}

.searchresults li {
    padding: 2px;
    background-color: transparent;
}

.searchresults a:link, .searchresults a:visited {
    color:white;
    text-decoration:none;
    font-size: 20px;
}

.searchresults a:hover {
    color: #5d00d6;
}

.searchresultsbox {
    display: none;
    position: absolute;
    width: 98.5%;
    margin: 10px;
    top: 120px;
    padding: 0px;
    z-index: 6;
}

@import url("../fonts/stylesheet.css");

.sr_fade {
  -webkit-animation-name: sr_fade;
  -webkit-animation-duration: 1.5s;
  animation-name: sr_fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes sr_fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes sr_fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.playerTimesTable {
    position: relative;
    width: 100%;
}

.playerTimesTable tr {
    border-collapse: collapse;
    font-family: BankGothic;
}

.playerTimesTable th {
    border-bottom: 2px solid #d3d3d3;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-family: BankGothic;
}

.playerTimesTable td {
    text-align: center;   
    border-bottom: papayawhip;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: BankGothic;
}

.playerTimesTable tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
}

.playerTimesTable tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
}

.playerTimesTable_pb {
    position: relative;
    width: 100%;
}

.playerTimesTable_pb tr {
    border-collapse: collapse;
    font-family: BankGothic;
}

.playerTimesTable_pb th {
    border-bottom: 2px solid #d3d3d3;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-family: BankGothic;
}

.playerTimesTable_pb td {
    text-align: center;   
    border-bottom: papayawhip;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 5%;
    font-family: BankGothic;
}

.playerTimesTable_pb tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
}

.playerTimesTable_pb tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
}

#playerlink:link {
    color: dimgray;
}